.item {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;

  background-color: #FFF;
  border: 1px solid #E6E6E6;
  border-radius: 8px;

  padding: 8px;
}

.item-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.item-label {
  width: 100%;
  padding: 8px;
}

.item-label-hidden {
  display: none;
}

.item-input {
  width: 100%;

  padding: 12px 20px;
  border-radius: 8px;
  font-size: 20px;
}

.item-input-hidden {
  display: none;
}

.item-close-button {
  width: 24px;
  height: 24px;

  border: 1px solid #000;
  border-radius: 50%;
  background-color: white;
}
